body {
    font-size: .875rem;
    /* font-family: "Montserrat", var(--bs-body-font-family); */
}

.feather {
    width: 16px;
    height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
    position: absolute;
    top: 0;
    /* rtl:raw:
  right: 0;
  */
    /* -- bottom: 0; --*/
    /* rtl:remove */
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 48px 0;
    /* Height of navbar */
    box-shadow: inset -1px -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    cursor: pointer;
}

/*
 * Navbar
 */

.navbar-brand {
    /*
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    */
    padding-top: .75rem;
    padding-bottom: .75rem;

    /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
    white-space: normal;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


tr.odd td:first-child,
tr.even td:first-child {
    padding-left: 2.5em;
}

tr.dtrg-group.dtrg-start.dtrg-level-0,
tr.dtrg-group.dtrg-start.dtrg-level-1 {
    font-size: 1.2em;
}

tr.dtrg-group.dtrg-start.dtrg-level-1 th {
    padding-left: 3em;
}

tr.dtrg-group th {
    color: #FFFFFF !important;
    background-color: rgba(13, 110, 253) !important;
    font-style: normal !important;
    font-weight: normal !important;
}

.bg-vacation {
    --bs-bg-opacity: 1;
    background-color: var(--bs-warning) !important;
}

.table {
    --bs-table-bg: transparent !important;
}

.icon-small {
    width: 28px;
}

.list-group.list-group-timeline .list-group-timeline-secondary:before {
    background-color: #69809a
}
.list-group.list-group-timeline .list-group-timeline-success:before {
    background-color: #39da8a
}
.list-group.list-group-timeline .list-group-timeline-info:before {
    background-color: #00cfdd
}
.list-group.list-group-timeline .list-group-timeline-warning:before {
    background-color: #fdac41
}
.list-group.list-group-timeline .list-group-timeline-danger:before {
    background-color: #ff5b5c
}
.list-group.list-group-timeline .list-group-timeline-dark:before {
    background-color: #495563
}
.list-group.list-group-timeline .list-group-timeline-gray:before {
    background-color: rgba(38,60,85,.5)
}

.list-group.list-group-timeline {
    position: relative
}

.list-group.list-group-timeline:before {
    background-color: #d4d8dd;
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: .2rem
}

.list-group.list-group-timeline .list-group-item {
    border: none;
    padding-left: 1.25rem
}

.list-group.list-group-timeline .list-group-item:before {
    position: absolute;
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    left: 0;
    top: 50%;
    margin-top: -3.5px;
    border-radius: 100%
}
.timeline {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    list-style: none
}

.timeline::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 1px;
    border: 0;
    border-left: 1px solid #d4d8dd;
    content: ""
}

.timeline .timeline-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row
}

.timeline .timeline-header>*:first-child {
    margin-right: .5rem
}

.timeline .timeline-end-indicator {
    position: absolute;
    bottom: -1.35rem;
    left: -0.65rem
}

.timeline .timeline-end-indicator i {
    font-size: 1.5rem;
    color: #d4d8dd
}

.timeline .timeline-label {
    position: relative;
    z-index: 2;
    display: block;
    text-align: left;
    margin-left: -1.5rem;
    margin-bottom: 1rem
}

.timeline.timeline-solid:before {
    border-style: solid
}

.timeline.timeline-dotted:before {
    border-style: dotted
}

.timeline.timeline-dashed:before {
    border-style: dashed
}

.timeline.timeline-hidden:before {
    border-style: none
}

.timeline .timeline-item {
    position: relative;
    padding-left: 3rem
}

.timeline .timeline-item .timeline-event {
    position: relative;
    top: -1rem;
    width: 100%;
    min-height: 4rem;
    background-color: #fff;
    border-radius: .25rem;
    padding: 1.25rem 1.5rem
}

.timeline .timeline-item .timeline-event:before {
    position: absolute;
    top: .75rem;
    left: 32px;
    right: 100%;
    width: 0;
    height: 0;
    border-top: 1rem solid rgba(0,0,0,0);
    border-right: 1rem solid;
    border-left: 0 solid;
    border-bottom: 1rem solid rgba(0,0,0,0);
    border-left-color: #fff;
    border-right-color: #fff;
    margin-left: -3rem;
    content: ""
}

.timeline .timeline-item .timeline-event:after {
    position: absolute;
    top: .75rem;
    left: -17px;
    width: 0;
    height: 0;
    border-top: 1rem solid rgba(0,0,0,0);
    border-right: 1rem solid;
    border-left: 0 solid;
    border-bottom: 1rem solid rgba(0,0,0,0);
    border-left-color: #fff;
    border-right-color: #d4d8dd;
    z-index: -1
}

.timeline .timeline-item .timeline-event.timeline-event-shadow {
    box-shadow: 0 .5rem 1rem rgba(38,60,85,.075) !important
}

.timeline .timeline-item .timeline-event .timeline-event-time {
    position: absolute;
    top: 1.2rem;
    font-size: .85rem;
    color: #a8b1bb
}

.timeline .timeline-item .timeline-indicator {
    position: absolute;
    left: -0.6875rem;
    top: 0;
    z-index: 2;
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #5a8dee;
    background-color: #f2f2f6 !important
}

.timeline .timeline-item .timeline-indicator i {
    color: #5a8dee;
    font-size: .85rem;
    vertical-align: baseline
}

.timeline .timeline-item .timeline-point {
    position: absolute;
    left: -0.312rem;
    top: 0;
    z-index: 2;
    display: block;
    height: .75rem;
    width: .75rem;
    border-radius: 50%;
    background-color: #5a8dee
}

.timeline .timeline-item.timeline-item-transparent .timeline-event {
    top: -1.4rem;
    background-color: rgba(0,0,0,0)
}

html:not([dir=rtl]) .timeline .timeline-item.timeline-item-transparent .timeline-event {
    padding-left: 0
}

.timeline .timeline-item.timeline-item-transparent .timeline-event.timeline-event-shadow {
    padding-left: 2rem
}

.timeline .timeline-item.timeline-item-transparent .timeline-event:before {
    display: none
}

.timeline.timeline-center:before {
    left: 50%
}

.timeline.timeline-center:after {
    left: 50%;
    margin-left: -0.55rem
}

.timeline.timeline-center .timeline-end-indicator {
    bottom: -1.4rem;
    left: 50%;
    margin-left: .55rem
}

.timeline.timeline-center .timeline-label {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    clear: left
}

.timeline.timeline-center .timeline-label+.timeline-item {
    margin-top: 2rem
}

.timeline.timeline-center .timeline-item {
    width: 50%;
    clear: both
}

.timeline.timeline-center .timeline-item.timeline-item-left,.timeline.timeline-center .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right) {
    float: left;
    padding-left: 0;
    padding-right: 3rem
}

.timeline.timeline-center .timeline-item.timeline-item-left .timeline-event .timeline-event-time,.timeline.timeline-center .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right) .timeline-event .timeline-event-time {
    right: -9.5rem
}

.timeline.timeline-center .timeline-item.timeline-item-left .timeline-event:before,.timeline.timeline-center .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right) .timeline-event:before {
    right: -15px;
    left: auto;
    border-left-width: 16px;
    border-right-width: 0
}

.timeline.timeline-center .timeline-item.timeline-item-left .timeline-point,.timeline.timeline-center .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right) .timeline-point {
    left: 100%
}

.timeline.timeline-center .timeline-item.timeline-item-right,.timeline.timeline-center .timeline-item:nth-of-type(even):not(.timeline-item-left):not(.timeline-item-right) {
    float: right
}

.timeline.timeline-center .timeline-item.timeline-item-right .timeline-event-time,.timeline.timeline-center .timeline-item:nth-of-type(even):not(.timeline-item-left):not(.timeline-item-right) .timeline-event-time {
    left: -9.5rem
}

.timeline.timeline-center .timeline-item.timeline-item-right .timeline-point,.timeline.timeline-center .timeline-item:nth-of-type(even):not(.timeline-item-left):not(.timeline-item-right) .timeline-point {
    left: 0
}

.timeline.timeline-center .timeline-item .timeline-point {
    left: 50%;
    margin-left: -0.6875rem
}

.timeline.timeline-center .timeline-item .timeline-point-indicator {
    left: 50%;
    margin-left: -0.3125rem
}
@media(min-width: 768px) {
    .timeline.timeline-center .timeline-item.timeline-item-left .timeline-indicator,.timeline.timeline-center .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right) .timeline-indicator {
        left:calc(100% - (1.5rem/ 2))
    }

    .timeline.timeline-center .timeline-item.timeline-item-left .timeline-event:after,.timeline.timeline-center .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right) .timeline-event:after {
        transform: rotate(180deg);
        right: -16px;
        left: auto
    }
}

@media(max-width: 767.98px) {
    .timeline.timeline-center:before {
        left:0
    }

    .timeline.timeline-center:after {
        left: 0
    }

    .timeline.timeline-center .timeline-end-indicator {
        left: -2px
    }

    .timeline.timeline-center .timeline-label {
        text-align: left
    }

    .timeline.timeline-center .timeline-item {
        float: left !important;
        width: 100%;
        padding-left: 3rem !important;
        padding-right: 0 !important
    }

    .timeline.timeline-center .timeline-item .timeline-event:before {
        right: 100% !important;
        border-right-width: 1rem !important;
        border-left-width: 0 !important
    }

    .timeline.timeline-center .timeline-item .timeline-event .timeline-event-time {
        top: -1.7rem;
        left: 0 !important;
        right: auto !important
    }

    .timeline.timeline-center .timeline-item .timeline-point {
        left: -0.7rem !important;
        margin-left: 0 !important
    }

    .timeline.timeline-center .timeline-item .timeline-point-indicator {
        left: 0 !important;
        margin-left: -0.3125rem !important
    }
}
@media(max-width: 575.98px) {
    .timeline .timeline-header {
        flex-direction:column;
        align-items: flex-start
    }
}

.timeline .timeline-item-secondary .timeline-event {
    background-color: rgba(105,128,154,.1)
}

.timeline .timeline-item-secondary .timeline-event:before {
    border-left-color: rgba(105,128,154,.1) !important;
    border-right-color: rgba(105,128,154,.1) !important
}

.timeline .timeline-point-secondary {
    background-color: #69809a !important;
    box-shadow: 0 0 0 .1875rem rgba(105,128,154,.16)
}

.timeline .timeline-indicator-secondary {
    border-color: #69809a !important
}

.timeline .timeline-indicator-secondary i {
    color: #69809a !important
}

.timeline .timeline-item-success .timeline-event {
    background-color: rgba(57,218,138,.1)
}

.timeline .timeline-item-success .timeline-event:before {
    border-left-color: rgba(57,218,138,.1) !important;
    border-right-color: rgba(57,218,138,.1) !important
}

.timeline .timeline-point-success {
    background-color: #39da8a !important;
    box-shadow: 0 0 0 .1875rem rgba(57,218,138,.16)
}

.timeline .timeline-indicator-success {
    border-color: #39da8a !important
}

.timeline .timeline-indicator-success i {
    color: #39da8a !important
}

.timeline .timeline-item-info .timeline-event {
    background-color: rgba(0,207,221,.1)
}

.timeline .timeline-item-info .timeline-event:before {
    border-left-color: rgba(0,207,221,.1) !important;
    border-right-color: rgba(0,207,221,.1) !important
}

.timeline .timeline-point-info {
    background-color: #00cfdd !important;
    box-shadow: 0 0 0 .1875rem rgba(0,207,221,.16)
}

.timeline .timeline-indicator-info {
    border-color: #00cfdd !important
}

.timeline .timeline-indicator-info i {
    color: #00cfdd !important
}

.timeline .timeline-item-warning .timeline-event {
    background-color: rgba(253,172,65,.1)
}

.timeline .timeline-item-warning .timeline-event:before {
    border-left-color: rgba(253,172,65,.1) !important;
    border-right-color: rgba(253,172,65,.1) !important
}

.timeline .timeline-point-warning {
    background-color: #fdac41 !important;
    box-shadow: 0 0 0 .1875rem rgba(253,172,65,.16)
}

.timeline .timeline-indicator-warning {
    border-color: #fdac41 !important
}

.timeline .timeline-indicator-warning i {
    color: #fdac41 !important
}

.timeline .timeline-item-danger .timeline-event {
    background-color: rgba(255,91,92,.1)
}

.timeline .timeline-item-danger .timeline-event:before {
    border-left-color: rgba(255,91,92,.1) !important;
    border-right-color: rgba(255,91,92,.1) !important
}

.timeline .timeline-point-danger {
    background-color: #ff5b5c !important;
    box-shadow: 0 0 0 .1875rem rgba(255,91,92,.16)
}

.timeline .timeline-indicator-danger {
    border-color: #ff5b5c !important
}

.timeline .timeline-indicator-danger i {
    color: #ff5b5c !important
}

.timeline .timeline-item-dark .timeline-event {
    background-color: rgba(73,85,99,.1)
}

.timeline .timeline-item-dark .timeline-event:before {
    border-left-color: rgba(73,85,99,.1) !important;
    border-right-color: rgba(73,85,99,.1) !important
}

.timeline .timeline-point-dark {
    background-color: #495563 !important;
    box-shadow: 0 0 0 .1875rem rgba(73,85,99,.16)
}

.timeline .timeline-indicator-dark {
    border-color: #495563 !important
}

.timeline .timeline-indicator-dark i {
    color: #495563 !important
}

.timeline .timeline-item-gray .timeline-event {
    background-color: rgba(38,60,85,.1)
}

.timeline .timeline-item-gray .timeline-event:before {
    border-left-color: rgba(38,60,85,.1) !important;
    border-right-color: rgba(38,60,85,.1) !important
}

.timeline .timeline-point-gray {
    background-color: rgba(38,60,85,.5) !important;
    box-shadow: 0 0 0 .1875rem rgba(38,60,85,.16)
}
.timeline .timeline-indicator-gray {
    border-color: rgba(38,60,85,.5) !important
}

.timeline .timeline-indicator-gray i {
    color: rgba(38,60,85,.5) !important
}

.timeline .timeline-item-secondary .timeline-event {
    background-color: rgba(105,128,154,.1)
}

.timeline .timeline-item-secondary .timeline-event:before {
    border-left-color: rgba(105,128,154,.1) !important;
    border-right-color: rgba(105,128,154,.1) !important
}

.timeline .timeline-point-secondary {
    background-color: #69809a !important;
    box-shadow: 0 0 0 .1875rem rgba(105,128,154,.16)
}

.timeline .timeline-indicator-secondary {
    border-color: #69809a !important
}

.timeline .timeline-indicator-secondary i {
    color: #69809a !important
}

.timeline .timeline-item-success .timeline-event {
    background-color: rgba(57,218,138,.1)
}

.timeline .timeline-item-success .timeline-event:before {
    border-left-color: rgba(57,218,138,.1) !important;
    border-right-color: rgba(57,218,138,.1) !important
}

.timeline .timeline-point-success {
    background-color: #39da8a !important;
    box-shadow: 0 0 0 .1875rem rgba(57,218,138,.16)
}

.timeline .timeline-indicator-success {
    border-color: #39da8a !important
}

.timeline .timeline-indicator-success i {
    color: #39da8a !important
}

.timeline .timeline-item-info .timeline-event {
    background-color: rgba(0,207,221,.1)
}

.timeline .timeline-item-info .timeline-event:before {
    border-left-color: rgba(0,207,221,.1) !important;
    border-right-color: rgba(0,207,221,.1) !important
}

.timeline .timeline-point-info {
    background-color: #00cfdd !important;
    box-shadow: 0 0 0 .1875rem rgba(0,207,221,.16)
}

.timeline .timeline-indicator-info {
    border-color: #00cfdd !important
}

.timeline .timeline-indicator-info i {
    color: #00cfdd !important
}

.timeline .timeline-item-warning .timeline-event {
    background-color: rgba(253,172,65,.1)
}

.timeline .timeline-item-warning .timeline-event:before {
    border-left-color: rgba(253,172,65,.1) !important;
    border-right-color: rgba(253,172,65,.1) !important
}

.timeline .timeline-point-warning {
    background-color: #fdac41 !important;
    box-shadow: 0 0 0 .1875rem rgba(253,172,65,.16)
}

.timeline .timeline-indicator-warning {
    border-color: #fdac41 !important
}

.timeline .timeline-indicator-warning i {
    color: #fdac41 !important
}

.timeline .timeline-item-danger .timeline-event {
    background-color: rgba(255,91,92,.1)
}

.timeline .timeline-item-danger .timeline-event:before {
    border-left-color: rgba(255,91,92,.1) !important;
    border-right-color: rgba(255,91,92,.1) !important
}

.timeline .timeline-point-danger {
    background-color: #ff5b5c !important;
    box-shadow: 0 0 0 .1875rem rgba(255,91,92,.16)
}

.timeline .timeline-indicator-danger {
    border-color: #ff5b5c !important
}

.timeline .timeline-indicator-danger i {
    color: #ff5b5c !important
}

.timeline .timeline-item-dark .timeline-event {
    background-color: rgba(73,85,99,.1)
}

.timeline .timeline-item-dark .timeline-event:before {
    border-left-color: rgba(73,85,99,.1) !important;
    border-right-color: rgba(73,85,99,.1) !important
}

.timeline .timeline-point-dark {
    background-color: #495563 !important;
    box-shadow: 0 0 0 .1875rem rgba(73,85,99,.16)
}

.timeline .timeline-indicator-dark {
    border-color: #495563 !important
}

.timeline .timeline-indicator-dark i {
    color: #495563 !important
}

.timeline .timeline-item-gray .timeline-event {
    background-color: rgba(38,60,85,.1)
}

.timeline .timeline-item-gray .timeline-event:before {
    border-left-color: rgba(38,60,85,.1) !important;
    border-right-color: rgba(38,60,85,.1) !important
}

.timeline .timeline-point-gray {
    background-color: rgba(38,60,85,.5) !important;
    box-shadow: 0 0 0 .1875rem rgba(38,60,85,.16)
}

.timeline .timeline-indicator-gray {
    border-color: rgba(38,60,85,.5) !important
}

.timeline .timeline-indicator-gray i {
    color: rgba(38,60,85,.5) !important
}
@keyframes pulse-keyframes {
    0% {
        opacity: 1;
        transform: scale3d(.8,.8,.8)
    }

    50% {
        transform: scaleX(1);
        opacity: 1
    }

    to {
        opacity: 1;
        transform: scale3d(.8,.8,.8)
    }
}
@keyframes tada-keyframes {
    0% {
        transform: scaleX(1)
    }

    10%,5% {
        transform: scale3d(.9,.9,.9) rotate(-5deg)
    }

    15%,25%,35%,45% {
        transform: scale3d(1.1,1.1,1.1) rotate(5deg)
    }

    20%,30%,40% {
        transform: scale3d(1.1,1.1,1.1) rotate(-5deg)
    }

    50% {
        transform: scaleX(1)
    }
}

.icon-pulse {
    animation: pulse-keyframes 2s ease infinite;
    animation-fill-mode: both
}

.icon-pulse,.icon-tada {
    display: block;
    transition: all .15s ease 0s
}

.icon-tada {
    animation: tada-keyframes 3s ease infinite;
    animation-fill-mode: both
}
.icon-size-32 {
    width: 32px;
    height: 32px;
}
.icon-size-48 {
    width: 48px;
    height: 48px;
}

.icon-size-32-rfid {
    width: 32px;
    height: 32px;
    content: "\eff7";
}

