body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
    position: absolute;
    top: 0;
    /* rtl:raw:
  right: 0;
  */
    /* -- bottom: 0; --*/
    /* rtl:remove */
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 48px 0;
    /* Height of navbar */
    box-shadow: inset -1px -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    cursor: pointer;
}

/*
 * Navbar
 */

.navbar-brand {
    /*
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    */
    padding-top: .75rem;
    padding-bottom: .75rem;

    /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
    white-space: normal;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


tr.odd td:first-child,
tr.even td:first-child {
    padding-left: 2.5em;
}

tr.dtrg-group.dtrg-start.dtrg-level-0,
tr.dtrg-group.dtrg-start.dtrg-level-1 {
    font-size: 1.2em;
}

tr.dtrg-group.dtrg-start.dtrg-level-1 th {
    padding-left: 3em;
}

tr.dtrg-group th {
    color: #FFFFFF !important;
    background-color: rgba(13, 110, 253) !important;
    font-style: normal !important;
    font-weight: normal !important;
}