body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
    position: absolute;
    top: 0;
    /* rtl:raw:
  right: 0;
  */
    /* -- bottom: 0; --*/
    /* rtl:remove */
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 48px 0;
    /* Height of navbar */
    box-shadow: inset -1px -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    cursor: pointer;
}

/*
 * Navbar
 */

.navbar-brand {
    /*
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    */
    padding-top: .75rem;
    padding-bottom: .75rem;

    /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
    white-space: normal;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


tr.odd td:first-child,
tr.even td:first-child {
    padding-left: 2.5em;
}

tr.dtrg-group.dtrg-start.dtrg-level-0,
tr.dtrg-group.dtrg-start.dtrg-level-1 {
    font-size: 1.2em;
}

tr.dtrg-group.dtrg-start.dtrg-level-1 th {
    padding-left: 3em;
}

tr.dtrg-group th {
    color: #FFFFFF !important;
    background-color: rgba(13, 110, 253) !important;
    font-style: normal !important;
    font-weight: normal !important;
}

.bg-vacation {
    --bs-bg-opacity: 1;
    background-color: var(--bs-warning) !important;
}

.table {
    --bs-table-bg: transparent !important;
}

.icon-small {
    width: 28px;
}

.timeline .timeline-item-secondary .timeline-event {
    background-color: rgba(105,128,154,.1)
}

.timeline .timeline-item-secondary .timeline-event:before {
    border-left-color: rgba(105,128,154,.1) !important;
    border-right-color: rgba(105,128,154,.1) !important
}

.timeline .timeline-point-secondary {
    background-color: #69809a !important;
    box-shadow: 0 0 0 .1875rem rgba(105,128,154,.16)
}

.timeline .timeline-indicator-secondary {
    border-color: #69809a !important
}

.timeline .timeline-indicator-secondary i {
    color: #69809a !important
}

.timeline .timeline-item-success .timeline-event {
    background-color: rgba(57,218,138,.1)
}

.timeline .timeline-item-success .timeline-event:before {
    border-left-color: rgba(57,218,138,.1) !important;
    border-right-color: rgba(57,218,138,.1) !important
}

.timeline .timeline-point-success {
    background-color: #39da8a !important;
    box-shadow: 0 0 0 .1875rem rgba(57,218,138,.16)
}

.timeline .timeline-indicator-success {
    border-color: #39da8a !important
}

.timeline .timeline-indicator-success i {
    color: #39da8a !important
}

.timeline .timeline-item-info .timeline-event {
    background-color: rgba(0,207,221,.1)
}

.timeline .timeline-item-info .timeline-event:before {
    border-left-color: rgba(0,207,221,.1) !important;
    border-right-color: rgba(0,207,221,.1) !important
}

.timeline .timeline-point-info {
    background-color: #00cfdd !important;
    box-shadow: 0 0 0 .1875rem rgba(0,207,221,.16)
}

.timeline .timeline-indicator-info {
    border-color: #00cfdd !important
}

.timeline .timeline-indicator-info i {
    color: #00cfdd !important
}

.timeline .timeline-item-warning .timeline-event {
    background-color: rgba(253,172,65,.1)
}

.timeline .timeline-item-warning .timeline-event:before {
    border-left-color: rgba(253,172,65,.1) !important;
    border-right-color: rgba(253,172,65,.1) !important
}

.timeline .timeline-point-warning {
    background-color: #fdac41 !important;
    box-shadow: 0 0 0 .1875rem rgba(253,172,65,.16)
}

.timeline .timeline-indicator-warning {
    border-color: #fdac41 !important
}

.timeline .timeline-indicator-warning i {
    color: #fdac41 !important
}

.timeline .timeline-item-danger .timeline-event {
    background-color: rgba(255,91,92,.1)
}

.timeline .timeline-item-danger .timeline-event:before {
    border-left-color: rgba(255,91,92,.1) !important;
    border-right-color: rgba(255,91,92,.1) !important
}

.timeline .timeline-point-danger {
    background-color: #ff5b5c !important;
    box-shadow: 0 0 0 .1875rem rgba(255,91,92,.16)
}

.timeline .timeline-indicator-danger {
    border-color: #ff5b5c !important
}

.timeline .timeline-indicator-danger i {
    color: #ff5b5c !important
}

.timeline .timeline-item-dark .timeline-event {
    background-color: rgba(73,85,99,.1)
}

.timeline .timeline-item-dark .timeline-event:before {
    border-left-color: rgba(73,85,99,.1) !important;
    border-right-color: rgba(73,85,99,.1) !important
}

.timeline .timeline-point-dark {
    background-color: #495563 !important;
    box-shadow: 0 0 0 .1875rem rgba(73,85,99,.16)
}

.timeline .timeline-indicator-dark {
    border-color: #495563 !important
}

.timeline .timeline-indicator-dark i {
    color: #495563 !important
}

.timeline .timeline-item-gray .timeline-event {
    background-color: rgba(38,60,85,.1)
}

.timeline .timeline-item-gray .timeline-event:before {
    border-left-color: rgba(38,60,85,.1) !important;
    border-right-color: rgba(38,60,85,.1) !important
}

.timeline .timeline-point-gray {
    background-color: rgba(38,60,85,.5) !important;
    box-shadow: 0 0 0 .1875rem rgba(38,60,85,.16)
}

.timeline .timeline-indicator-gray {
    border-color: rgba(38,60,85,.5) !important
}

.timeline .timeline-indicator-gray i {
    color: rgba(38,60,85,.5) !important
}
