html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

@-moz-document url-prefix() {
    body {
        font-weight: lighter !important;
    }
}
